.holder {
     display: flex;
	 justify-content: space-evenly;
     flex-wrap: wrap;
}

.item {
     height: 50px;
     width: 50px;
     border: none;
}

#item1 {
	background-color: green;
}

#item2 {
	background-color: red;
}

#item3 {
	background-color: blue;
}